html{
  background-color: #282c34 ;
  color: white;
  margin: 1%
}
.component-container {
  text-align: center;
  background-color: ;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  min-height: 100vh;
}



.add-mem-div{
  height: 250px;
}



span{
  color: red;
  margin: 0 1% 0 1%;

}

.list-container{
  display: flex;
  border: red solid 3px;
  width: 70%;
  height: 500px;
}

.list{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  align-items: center;
}

li{
  width: 100%;
  margin: 0 auto;
  text-decoration: none;
}